.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    width: 100%;
}
.login__button {
    width: 150px;
    height: 40px;
}