.sidebar {
  background: transparent;
  width: 240px;
  height: calc(100vh - 60px);
  padding: 20px 20px 20px 0;
}
.sidebar__buttons {
  display: flex;
  flex-direction: column;
}
.sidebar__compose {
  width: 150px;
  color: #3c4043;
  padding: 0px 30px 0 0;
  font-size: 14px;
  font-weight: 500;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: 20px;
  border: none;
}

