.sidebar__button {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  align-items: center;
  background: transparent;
  color: #fff;
  padding: 5px;
  padding-left: 20px;
  cursor: pointer;
  outline: none;
  border: none;
  font-weight: bold;
}
.sidebar__button:hover {
  background: #444;
}
.sidebar__button--active {
  background: #555;
}
.sidebar__button span {
  margin-left: 20px;
}
